<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <script src="https://giscus.app/client.js"
          data-repo="oskrgab/personal_site"
          data-repo-id="R_kgDOJnR_FA"
          data-category="Blog"
          data-category-id="DIC_kwDOJnR_FM4CXK8z"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
</body>
</html>