<br><br>
<div id="subscription"></div>

<script>
    function updateElementAppearance() {
        let formId;

        if (document.documentElement.classList.contains('dark')) {
            // user prefers dark theme
            formId = "uLodoc";
        } else {
            // user prefers light theme
            formId = "cypMk2";
        }

        document.getElementById('subscription').innerHTML = `<div class="ml-embedded" data-form="${formId}"></div>`;
    }

    // Run the function initially to set the correct appearance
    updateElementAppearance();

</script>
